@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

@import "tailwindcss";

@theme {
  --color-navy: #383f51;
  --color-darkRed: #994636;
  --color-lighterRed: #ca907e;
  --color-darkYellow: #dbd8ae;
  --color-greenishYellow: #eaf4d3;
}

@layer base {
  input, textarea, select {
    @apply border border-darkYellow rounded-lg px-3 py-2 w-full focus:outline-none focus:border-darkYellow focus:ring-0;
  }
}

html,body {
  height: 100%;
}